<a href="/admin/project/edit/{{ project.id }}" class="btn btn-dark md md-create"
   style="border-color:#5fbeaa"></a>
</td>
<td>
    <a href="/admin/project/delete/{{ project.id }}" class="confirm btn btn-danger delete-project" data-id="{{ project.id }}">
        Delete</a>
</td>